.container{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	width: 100%;
	position: relative;
}
/*标题*/
.page__hd{
	padding:32px 0 0 0;
	width: calc(100% - 3.0rem);
	font-size: 2.4rem;
}
.page__title{
	text-align: left;
    font-size: 20px;
    font-weight: 400;
}
.page__desc{
	margin-top: 5px;
    color: #888;
    text-align: left;
    font-size: 14px;
}

/*多选*/
.weui-cells_form{
	width: 100%;
}
.title{
	text-align: center;
	margin-top:2.4rem;
	width: calc(100% - 3rem);
	padding:0 1.5rem;
	text-align: left;
	color: #888;
    font-size: 14px;
}

.shuruxuanzeneirong{
	width: 100%;
	margin-top:0rem;
}

.addbotton{
	width: calc(100% - 3.0rem);
	font-size: 2.4rem;
	height: 4.6rem;
	line-height: 4.6rem;
}

.help_button{
	width: calc(100% - 3.0rem);
	font-weight: 400;
	height: 4.6rem;
	font-size: 1.8rem;
	margin-top: 2.4rem;
	margin-bottom: 5.4rem;
}

.choiceson{
	padding:1.0rem 1.5rem;
	width: calc(100% - 3.0rem);
	background-color: #ffffff;
}
.choiceson p{
	font-size: 1.7rem;
	word-break: break-all;
	word-wrap:break-word;
	color: #999999;
}

.weui-input{
	width:calc(100% - 12rem);
	padding-right: 12rem;
}
.weui-cell__ft{
	cursor: pointer;
}

.footer{
	width: 100%;
	text-align: center;
	margin-bottom: 1.6rem;
}

.querenquxiaocontainer{
	position: absolute;
	right: 0.6rem;
	top: 0.6rem;
}
#androidDialog1{
	transition: opacity 0.2s;
}
.copyright{
	position: absolute;
	bottom: 1rem;
}

.page__hd{
	margin-bottom: 16px;
}
.weui-cells__title{
    margin-top: .77em;
    margin-bottom: .3em;
    padding-left: 15px;
    padding-right: 15px;
    color: #999999;
    font-size: 14px;
    width: calc(100% - 30px);
}

.weui-cells{
	margin-top: 0px;
}

.page__bd{
	width: 100%;
}
.weui-loadmore_line {
    border-top: 1px solid #E5E5E5;
    margin-top: 2.4em;
}
..weui-loadmore{
	width: 65%;
    margin: 1.5em auto;
    line-height: 1.6em;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid 
}

.weui-loadmore_line .weui-loadmore__tips {
    position: relative;
    top: -0.9em;
    padding: 0 .55em;
    background-color: #eeeeee;
    color: #999999;
}
.weui-loadmore__tips {
    display: inline-block;
    vertical-align: middle;
}

.option_title_display{
	display: none;
}

.weui-mask_transparent{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.weui-icon_toast.weui-loading{
    margin: 30px auto 0 auto;
    width: 38px;
    height: 38px;
    vertical-align: baseline;
}

.weui-loading{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: weuiLoading 1s steps(12, end) infinite;
    animation: weuiLoading 1s steps(12, end) infinite;
    background: transparent url(data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' …l='%23E2E2E2' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/%3E%3C/svg%3E) no-repeat;
    background-size: 100%;
}
.weui-icon_toast{
    margin: 22px 0 0;
    display: block;
}
.weui-toast__content {
	font-size: 16px;
    margin: 0 0 15px;
}

.weui-toast{
    position: fixed;
    z-index: 5000;
    width: 13.6em;
    min-height: 13.6em;
    background: rgba(17, 17, 17, 0.7);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    left: 0px;
    right: 0px;
    margin: auto;
}
#loadingToast{
	transition: all 0.5s;
}

.fujing_input{
	border:0;
	border-bottom: 1px solid #000;
	outline: 0;
	font-size: 17px;
}